extends ../template/layout

block content
  .row
    .small-12.columns
      h1.subheader Posts Page
  .row
    .small-2.columns
      a.button.small.radius(href='/') Home Page
    .small-2.columns
      a.button.small.radius(href='/posts') Posts Page
    .small-2.columns
      a.button.small.radius.success(href='/posts/new') New Post Page
    .small-6.columns
  .row
    .small-12.columns
      #posts
        each post in posts
          .post
            table.post
              thead
                tr
                  th Title
                  th Author
                  th Date
                  th Tags
                  th
              tbody
                tr
                  td: a.button.small.success.expand(href="/posts/#{post.id}")= post.title
                  td= post.author
                  td= post.date
                  td= post.tags
                  td
                    form(action='posts/#{post.id}', method='post')
                      input(type='hidden', name='_method', value='delete')
                      button.relative.small.radius.alert.expand(type='submit') Delete
            #indexContainer
              img.float(src=post.image)
              p.float= post.content
              .clear


